<template>
    <div>
        <HelloWorld></HelloWorld>        
    </div>
</template>
<script>
import HelloWorld from "../components/HelloWorld";


export default {
  name: "components",
  components: {
    HelloWorld   
  }
};
</script>
