<template>
  <div id="app">
    <router-view name="header"></router-view>
    <div
      class="page-header header-filter"
      data-parallax="true"
      style="
        background-image: url('');
      "
    ></div>
    <div class="main main-raised">
      <div class="section section-basic">
        <router-view />
      </div>
    </div>

    <router-view name="footer"></router-view>
  </div>
</template>
<script>
export default {
  name: "App",
  components: {},
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
