<template>
  <footer class="footer" data-background-color="black">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="#">
              About Us
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        ©
        2020, made with <i class="material-icons">favorite</i> by
        <a href="#" target="_blank">Fares GHARBI </a>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  name: "app-footer",
  data() {
    return {
      year: new Date().getFullYear(),
    };
  },
};
</script>
<style>
</style>
