<template>
  <nav
    class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg navbar-transparent"
    color-on-scroll="100"
    id="sectionsNav"
  >
    <div class="container">
      <div class="navbar-translate">
        <img src="assets/img/financity_low.png" alt="" />
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
           <li class="nav-item">
            <a
              class="nav-link"
              href="javascript:void(0)"
              onclick="scrollToDownload()"
            >
              acceill
            </a>
          </li>
          
        </ul>
        <form class="form-inline ml-auto">
          <div class="form-group has-white">
            <input type="text" class="form-control" placeholder="Search" />
          </div>
          <button
            type="submit"
            class="btn btn-white btn-raised btn-fab btn-round"
          >
            <i class="material-icons">search</i>
          </button>
        </form>
        <ul class="navbar-nav">
          <li class="dropdown nav-item">
            <a
              href="javascript:;"
              class="profile-photo dropdown-toggle nav-link"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <div class="profile-photo-small">
                <img
                  src="assets/img/faces/avatar.jpg"
                  alt="Circle Image"
                  class="rounded-circle img-fluid"
                />
              </div>
              <div class="ripple-container"></div
            ></a>
            <div class="dropdown-menu dropdown-menu-right">
              <h6 class="dropdown-header">Dropdown header</h6>
              <a href="javascript:;" class="dropdown-item">Me</a>
              <a href="javascript:;" class="dropdown-item"
                >Settings and other stuff</a
              >
              <a href="javascript:;" class="dropdown-item">Sign out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  components: {},
};
</script>
